h1 {
  padding-left: 2rem;
  background-color: rgba(255, 255, 255, 0.5);
}

.banner2 {
  background: #ccc;
  background-image: url("../images/lots-of-apples-banner.jpg");
  padding: .75rem 0;
}


main {
  padding: 2rem;
}

footer img {
  position: absolute;
  max-width: 40px;
  top: 119px;
  right: 10px;
}

@media only screen and (min-width: 20em) {

  main p {
    max-width: 30rem;
  }

}

@media only screen and (min-width: 42em) {

  main p {
    max-width: 60rem;
  }

}

@media only screen and (min-width: 60em) {

  main p {
    max-width: 60rem;
    text-align: center;
  }


}
