html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  /* background-color: #; */
  /* color: #; */
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

main img {
  width: 10%;
}

nav ul {
  padding: .8rem 0 .8rem;
  list-style: none;
  display: flex;
  background-color: black;
}

li a {
  color: #fff;
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
}

/* ------ end of styling Navigation ------- */

.banner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  "h1"
  "p"
  "a";
  gap: 1rem;
}

.banner img {
  width: 100%;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

h1 {
  grid-column: 1;
  grid-row: 2;
  z-index: 1;
  align-self: end;
}

p {
  grid-column: 1;
  grid-row: 2;
  z-index: 1;
  align-self: end;
}

.banner a {
  grid-column: 1;
  grid-row: 3;
  z-index: 1;
  align-self: end;
  font-size: 30px;
}
