html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  /* background-color: #; */
  /* color: #; */
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

main img {
  width: 10%;
}

nav ul {
  padding: .8rem 0 .8rem;
  list-style: none;
  display: flex;
  background-color: black;
  min-width: 30em;
  flex-wrap: nowrap;
}

li a {
  color: #fff;
  padding-left: 2rem;
  text-decoration: none;
  text-transform: uppercase;
}

/* ------ end of styling Navigation ------- */

.banner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 10rem;
  grid-template-areas:
  "image"
  "text"
  "button";
  gap: 1rem;
}

.text-banner {
  display: content;
  grid-column: 1;
  grid-row: 2;
  z-index: 1;
  align-self: end;
  padding-left: 2rem;
}

.banner img {
  width: 100%;
  opacity: 0.8;
  min-width: 30em;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.text-banner h1 {
  font-size: 3.5rem;
  padding-left: 1rem;
  margin-bottom: 0;
}

.text-banner p {
  font-size: 1.5rem;
  color: #fff;
  max-width: 53rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 0;
}

.banner a {
  grid-column: 1;
  grid-row: 3;
  z-index: 1;
  align-self: center;
  font-size: 30px;
  padding-left: 2rem;
}

/* ------ end of styling banner ------- */
